@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap");

$Dark-Blue: hsl(209, 23%, 22%);
$Very-Dark-Blue: hsl(207, 26%, 17%);
$Very-Dark-Blue: hsl(200, 15%, 8%);
$Dark-Gray: hsl(0, 0%, 52%);
$Very-Light-Gray: hsl(0, 0%, 92%);
$White: hsl(0, 0%, 100%);

$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$box-shadow-strong: rgba(0, 0, 0, 0.19) 0px 10px 20px,
  rgba(0, 0, 0, 0.23) 0px 6px 6px;

$ease: 0.2s;

.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300 600 800;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  font-family: "Nunito Sans", sans-serif;
  min-height: 100vh;

  &.dark {
    background-color: $Very-Dark-Blue;
  }
}

//NAVBAR

nav {
  height: 70px;
  width: 100vw;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $box-shadow;
  background-color: white;
  position: absolute;
  transition: $ease;

  .navbar-cont {
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      all: unset;

      &:hover {
        cursor: pointer;
      }

      h1.logo {
        font-weight: 800;
      }
    }

    .theme-cont {
      display: flex;
      width: 110px;
      justify-content: space-between;
      align-items: center;

      button.theme {
        all: unset;
        background-image: url("https://www.iconbolt.com/iconsets/eva-outline/moon.svg");
        height: 20px;
        width: 20px;
        border-radius: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0.1s;

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          scale: 1.1;
          transition: 0.1s;
          cursor: pointer;
        }

        &:active {
          scale: 1;
        }
      }

      .theme-p {
        font-weight: 800;
        font-size: 14px;
      }
    }
  }
}

nav.dark {
  background-color: $Dark-Blue;

  .navbar-cont {
    h1.logo {
      color: white;
    }

    .theme-cont {
      button.theme {
        all: unset;
        background-image: url("https://www.iconbolt.com/iconsets/clarity-solid/sun.svg");
        filter: invert(100%);
        height: 20px;
        width: 20px;
        border-radius: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0.1s;

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          scale: 1.1;
          transition: 0.1s;
          cursor: pointer;
        }

        &:active {
          scale: 1;
        }
      }

      .theme-p {
        color: white;
      }
    }
  }
}

//HOME

.home {
  width: 100vw;
  min-height: 100vh;
  max-width: 100%;
  padding-top: 70px;
  background-color: $Very-Light-Gray;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;

  .home-cont {
    width: 1400px;

    .countries {
      display: flex;
      flex-wrap: wrap;
      gap: 60px;

      .country-card {
        height: 340px;
        width: 305px;
        background-color: white;
        box-shadow: $box-shadow;
        border-radius: 8px;
        transition: 0.1s ease-in-out;

        a {
          all: unset;
        }

        .flag-cont {
          height: 160px;
          width: 305px;
          box-shadow: $box-shadow;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px 8px 0 0;
          }
        }

        .single-country-info {
          padding: 20px;

          h2 {
            font-weight: 800;
            margin-bottom: 20px;
          }
          p {
            font-weight: 800;
            margin-bottom: 8px;

            span {
              font-weight: 300;
            }
          }
        }

        &:hover {
          cursor: pointer;
          scale: 1.01;
          transition: 0.1s ease-in-out;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        &:active {
          box-shadow: none;
          scale: 1;
        }
      }
    }
  }

  &.dark {
    background-color: $Very-Dark-Blue;

    .home-cont {
      .countries {
        .country-card {
          background-color: $Dark-Blue;

          .flag-cont {
            box-shadow: $box-shadow;
            filter: brightness(90%);
          }

          .single-country-info {
            h2 {
              color: white;
            }
            p {
              color: white;
            }
          }
        }
      }
    }
  }
}

//INPUTS

.inputs {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  position: relative;

  .search {
    all: unset;
    height: 50px;
    background-color: white;
    box-shadow: $box-shadow;
    border-radius: 5px;
    padding: 0 70px;
    width: 350px;
    background-image: url("./Assets/search-gray.svg");
    background-repeat: no-repeat;
    background-position: 20px;

    &::placeholder {
      font-size: 14px;
      font-weight: 500;
      color: $Dark-Gray;
    }

    &:focus {
      box-shadow: $box-shadow-strong;
    }

    &:hover {
      box-shadow: $box-shadow-strong;
    }
  }

  .filter {
    all: unset;
    height: 50px;
    background-color: white;
    box-shadow: $box-shadow;
    width: 140px;
    padding: 0 30px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    background-image: url("https://www.iconbolt.com/iconsets/darkwing-navigation/down.svg");
    background-repeat: no-repeat;
    background-position: 160px;
    transition: 0.3s ease;

    &.show {
      background-image: url("https://www.iconbolt.com/iconsets/darkwing-navigation/up.svg");
      transition: 0.3s ease;
    }

    &:hover {
      cursor: pointer;
      box-shadow: $box-shadow-strong;
    }

    &:focus {
      box-shadow: $box-shadow-strong;
    }
  }

  .regions {
    background-color: white;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: $box-shadow;
    position: absolute;
    right: 0;
    top: 105px;
    opacity: 0;
    transition: 0.4s;
    z-index: -1;

    &.show {
      opacity: 1;
      transition: 0.4s;
      z-index: 2;
    }

    ul {
      list-style-type: none;
      line-height: 30px;

      li {
        font-size: 14px;
        font-weight: 500;
        transition: 0.2s;
        padding: 0 10px;

        &:hover {
          cursor: pointer;
          font-weight: 800;
          transition: 0.2s;
          background-color: $Very-Light-Gray;
          border-radius: 5px;
        }
      }
    }
  }

  &.dark {
    .search {
      background-color: $Dark-Blue;
      color: white;
      background-image: url("./Assets/search-white.svg");

      &::placeholder {
        color: white;
      }
    }

    .filter {
      background-color: $Dark-Blue;
      color: white;
      background-image: url("./Assets/down.svg");

      &.show {
        background-image: url("./Assets/up.svg");
      }
    }

    .regions {
      background-color: $Dark-Blue;

      li {
        color: white;
      }
    }
  }
}

//TO THE TOP BUTTON

.to-the-top-button {
  position: fixed;
  bottom: 20px;
  right: 50px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.687);
  z-index: 5;

  .to-the-top-popup {
    width: 100px;
    height: 40px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.687);
    border-radius: 5px;
    box-shadow: $box-shadow;
    bottom: 80px;
    right: 25px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    visibility: hidden;
    opacity: 0;
    scale: 0.5;
    transition: 0.1s;
    font-family: "Nunito Sans", sans-serif;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover .to-the-top-popup {
    visibility: visible;
    opacity: 1;
    transition: 0.1s;
    scale: 1;
  }

  img {
    height: 50px;
  }

  &.dark {
    background-color: $Dark-Blue;

    .to-the-top-popup {
      background-color: $Dark-Blue;
      color: white;
    }

    &:hover .to-the-top-popup {
      visibility: visible;
      opacity: 1;
      transition: 0.1s;
      scale: 1;
    }

    img {
      height: 50px;
      filter: invert(80%);
    }
  }
}

//COUNTRY PAGE

.single-country-page {
  padding-top: 70px;
  width: 1400px;
  margin: 0 auto;

  .back-button {
    all: unset;
    height: 40px;
    width: 60px;
    background-color: white;
    box-shadow: $box-shadow;
    padding: 0 30px;
    text-align: right;
    border-radius: 5px;
    font-weight: 800;
    background-image: url("https://www.iconbolt.com/iconsets/darkwing-navigation/arrow-left.svg");
    background-repeat: no-repeat;
    background-position: 20px;
    transition: 0.3s ease;

    &:hover {
      cursor: pointer;
      box-shadow: $box-shadow-strong;
    }
  }

  .country {
    display: flex;
    align-items: center;
    width: 100%;

    .country-page-cont {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 150px;

      .flag {
        height: 500px;
        width: 700px;
        border-radius: 10px;
        box-shadow: $box-shadow;

        img {
          height: 100%;
          width: 100%;
          border-radius: 10px;
          object-fit: cover;
        }
      }

      .info-single-country {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 650px;

        h1 {
          font-size: 2.5rem;
          font-weight: 800;
        }

        .all-info {
          display: flex;
          gap: 70px;

          h5 {
            font-size: 16px;
            font-weight: 800;
            margin-bottom: 8px;

            span {
              font-weight: 500;
              margin-left: 8px;
            }
          }
        }

        .border-container {
          display: flex;
          gap: 20px;
          align-items: top;

          h5 {
            font-size: 16px;
            font-weight: 800;
          }

          .borders {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            a {
              all: unset;
              height: 30px;
              width: 80px;
              border-radius: 5px;
              box-shadow: $box-shadow;
              display: flex;
              justify-content: center;
              align-items: center;

              &:hover {
                cursor: pointer;
                box-shadow: $box-shadow-strong;
              }
            }
          }
        }
      }
    }
  }

  &.dark {
    .back-button {
      background-color: $Dark-Blue;
      color: white;
      background-image: url("./Assets/arrow-left.svg");
    }

    .country {
      .country-page-cont {
        .flag {
          filter: brightness(90%);
        }

        .info-single-country {
          h1 {
            color: white;
          }

          .all-info {
            h5 {
              color: white;
            }
          }

          .border-container {
            h5 {
              color: white;
            }

            .borders {
              a {
                all: unset;
                background-color: $Dark-Blue;
                color: white;
                height: 30px;
                width: 80px;
                border-radius: 5px;
                box-shadow: $box-shadow;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                  cursor: pointer;
                  box-shadow: $box-shadow-strong;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  nav {
    height: 50px;
    width: 100vw;
    padding: 10px;

    .navbar-cont {
      width: 100vw;

      h1.logo {
        font-size: 16px;
        font-weight: 500;
      }

      .theme-cont {
        width: 90px;

        button.theme {
          height: 15px;
          width: 15px;
        }

        .theme-p {
          font-weight: 600;
          font-size: 12px;
        }
      }
    }
  }

  nav.dark {
    .navbar-cont {
      .theme-cont {
        button.theme {
          height: 15px;
          width: 15px;
        }
      }
    }
  }

  //HOME

  .home {
    padding-top: 50px;

    .home-cont {
      width: 100vw;
      padding: 10px;

      .countries {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;

        .country-card {
          height: 290px;
          width: 260px;

          .flag-cont {
            height: 150px;
            width: 260px;
          }

          .single-country-info {
            padding: 10px;

            h2 {
              font-weight: 800;
              font-size: 18px;
              margin-bottom: 15px;
            }
            p {
              font-weight: 700;
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  //INPUTS

  .inputs {
    padding: 40px 0;

    .search {
      height: 40px;
      padding: 0 40px;
      width: 45%;
      background-position: 10px;

      &::placeholder {
        font-size: 12px;
      }
    }

    .filter {
      height: 40px;
      width: 140px;
      font-size: 12px;
      font-weight: 400;
    }

    .regions {
      top: 70px;

      ul {
        line-height: 25px;

        li {
          font-size: 12px;
        }
      }
    }

    &.dark {
      .search {
        background-color: $Dark-Blue;
        color: white;
        background-image: url("./Assets/search-white.svg");

        &::placeholder {
          color: white;
        }
      }

      .filter {
        background-color: $Dark-Blue;
        color: white;
        background-image: url("./Assets/down.svg");

        &.show {
          background-image: url("./Assets/up.svg");
        }
      }

      .regions {
        background-color: $Dark-Blue;

        li {
          color: white;
        }
      }
    }
  }

  //COUNTRY PAGE

  .single-country-page {
    padding-top: 50px;
    width: 100vw;
    margin: 0 auto;

    .back-button {
      margin-left: 10px;
      font-weight: 500;
      font-size: 14px;
    }

    .country {
      display: flex;
      align-items: center;
      width: 100%;

      .country-page-cont {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 50px;

        .flag {
          height: auto;
          width: 100%;
        }

        .info-single-country {
          gap: 30px;
          width: 100%;

          h1 {
            font-size: 2rem;
          }

          .all-info {
            h5 {
              font-weight: 700;

              span {
                font-weight: 300;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  nav {
    height: 60px;
    width: 100vw;
    padding: 10px;

    .navbar-cont {
      width: 100vw;

      h1.logo {
        font-size: 18px;
        font-weight: 500;
      }

      .theme-cont {
        width: 100px;

        button.theme {
          height: 20px;
          width: 20px;
        }

        .theme-p {
          font-weight: 600;
          font-size: 14px;
        }
      }
    }
  }

  nav.dark {
    .navbar-cont {
      .theme-cont {
        button.theme {
          height: 20px;
          width: 20px;
        }
      }
    }
  }

  //HOME

  .home {
    padding-top: 50px;

    .home-cont {
      width: 100vw;
      padding: 10px;

      .countries {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;

        .country-card {
          height: 320px;
          width: 275px;

          .flag-cont {
            height: 170px;
            width: 275px;
          }

          .single-country-info {
            padding: 10px;

            h2 {
              font-weight: 800;
              font-size: 18px;
              margin-bottom: 15px;
            }
            p {
              font-weight: 700;
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  //INPUTS

  .inputs {
    padding: 40px 0;

    .search {
      height: 50px;
      padding: 0 40px;
      width: 45%;
      background-position: 10px;

      &::placeholder {
        font-size: 15px;
      }
    }

    .filter {
      height: 50px;
      width: 140px;
      font-size: 14px;
      font-weight: 400;
    }

    .regions {
      top: 105px;

      ul {
        line-height: 25px;

        li {
          font-size: 12px;
        }
      }
    }

    &.dark {
      .search {
        background-color: $Dark-Blue;
        color: white;
        background-image: url("./Assets/search-white.svg");

        &::placeholder {
          color: white;
        }
      }

      .filter {
        background-color: $Dark-Blue;
        color: white;
        background-image: url("./Assets/down.svg");

        &.show {
          background-image: url("./Assets/up.svg");
        }
      }

      .regions {
        background-color: $Dark-Blue;

        li {
          color: white;
        }
      }
    }
  }

  //COUNTRY PAGE

  .single-country-page {
    padding-top: 50px;
    width: 100vw;
    margin: 0 auto;

    .back-button {
      margin-left: 10px;
      font-weight: 500;
      font-size: 14px;
    }

    .country {
      display: flex;
      align-items: center;
      width: 100%;

      .country-page-cont {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 50px;

        .flag {
          height: auto;
          width: 100%;
        }

        .info-single-country {
          gap: 30px;
          width: 100%;

          h1 {
            font-size: 2rem;
          }

          .all-info {
            h5 {
              font-weight: 700;

              span {
                font-weight: 300;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  //NAVBAR

  nav {
    padding: 10px;
  }

  //HOME

  .home {
    .home-cont {
      width: 100vw;
      padding-left: 10px;
      padding-right: 10px;

      .countries {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        .country-card {
          height: 300px;
          width: 280px;
          margin-bottom: 20px;

          .flag-cont {
            height: 150px;
            width: 280px;
          }

          .single-country-info {
            padding: 10px;

            h2 {
              margin-bottom: 14px;
            }
          }
        }
      }
    }
  }

  //COUNTRY PAGE

  .single-country-page {
    width: 100vw;

    .country {
      .country-page-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 150px;
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  //NAVBAR

  nav {
    padding: 20px;

    .navbar-cont {
      width: 100vw;
    }
  }

  //HOME

  .home {
    .home-cont {
      width: 95vw;

      .countries {
        justify-content: space-between;
      }
    }
  }

  //COUNTRY PAGE

  .single-country-page {
    width: 100vw;

    .country {
      .country-page-cont {
        flex-direction: column;
        margin-bottom: 100px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  //NAVBAR

  nav {
    .navbar-cont {
      width: 95vw;
    }
  }

  //HOME

  .home {
    .home-cont {
      width: 100vw;

      .countries {
        justify-content: space-between;
        gap: 0;
        padding: 10px;

        .country-card {
          height: auto;
          width: 23%;
          margin-bottom: 50px;

          .flag-cont {
            height: 45%;
            width: 100%;
          }
        }
      }
    }
  }

  //INPUTS

  .inputs {
    padding: 50px 10px;
  }

  //COUNTRY PAGE

  .single-country-page {
    width: 95vw;

    .country {
      .country-page-cont {
        gap: 50px;

        .flag {
          height: 400px;
          width: 600px;
        }
      }
    }
  }
}
